<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My barebone app dummy SSO service</title>
    <style>
        input[type="text"] {
            width: 400px;
        }

        input[type="submit"] {
            font-size: large;
        }

        div {
            margin-left: 20%;
            margin-right: 20%;
            text-align: center;
        }

        div.input {
            text-align: left;
            margin-top: 1em;
            margin-bottom: 1em;
        }

        .error {
            text-align: center;
            font-weight: bold;
            color: red;
        }
    </style>
</head>

<body>
    <div>
        <h1>Multipass SSO</h1>
        <form method="POST" action="multipass">
            <fieldset>
                <p class="error"><%= error %></p>
                <legend>please input your email and password</legend>
                <div class="input">
                    <label for="email"><b>Email:</b></label><br />
                    <input type="text" name="email" id="email" placeholder="test@example.com" />
                </div>
                <div class="input">
                    <label for="password">Password:</label><br />
                    <input type="text" name="password" id="password"
                        value="" placeholder="please input your password" />
                </div>
            </fieldset>
            <p>
                <input type="submit" value="Login to the following store" />
            </p>

            <label for="token">Store to login:</label><br />
            <input type="text" name="shop" value="<%= shop %>" id="shop">
        </form>
    </div>
</body>

</html>